@font-face {
    font-family: "SC";
    src: url("/Silicon-Claymore.ttf");
}
html {
    height: 100%;
    font-size: 1.5em;
}
body {
    min-height: 100%;
    margin: 0px;
    background: #fff;
    color: #171717;
}
nav {
    background: #171717;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav > a {
    flex: 1 auto;
    font-size: 2em;
    display: inline-block;
    text-decoration: none;
    margin: .25em;
    text-align: center;
    color: #FFFFFF;
    font-family: "SC";
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.team {
    width: 100%;
}
h1 {
    font-family: "SC";
    font-size: 3em;
    font-weight: normal;
    margin-top: 0;
}
.content {
    margin: 1em;
    flex: 3 10em;
}
.blog {
    margin: 1em;
    flex: 1 5em;
}
.sponsor img {
    max-width: 33%;
    vertical-align: middle;
}