@font-face {
	font-family: "Pixel-font";
	src: url("/AdvoCut.ttf");
}
html {
	height: 100%;
	font-size: 1.5em;
}
body {
	display: flex;
	flex-direction: row;
	background: #fff;
	min-height: 100%;
	margin: 0px;
}
nav {
	padding-top: 8em;
	min-width: 4em;
	background: #171717;
}
nav > a {
	font-size: 1.5em;
	display: block;
	text-decoration: none;
	margin: .25em;
	text-align: center;
	color: #FFFFFF;
	font-family: "Pixel-font";
}
.main {
	flex: 1;
}
.logo > img {
	position: relative;
	width: 8em;
	right: 4em;
}
h1 {
	font-family: "Pixel-font";
	font-size: 2em;
}
.content-margin {
	margin: 1em;
}
.sponsor > img {
	max-width: 50%;
}
