<head>
	<meta charset="utf-8" />
	<link href="feed.xml" type="application/atom+xml" rel="alternate" title="Larry">
	<meta name="google-site-verification" content="aVgBYtdagQ6oVZyhqa8MfQDSvSnfS7K3RjOmmOP_Pg0" />
	<title>{{ site.name }}-{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Nova+Square|Roboto' rel='stylesheet' type='text/css' />
	<!-- syntax highlighting CSS -->
	<link rel="stylesheet" href="/css/syntax.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<!-- AddThis Smart Layers BEGIN -->
	<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-525db06579476ffd"></script>
	<script type="text/javascript">
		addthis.layers({
			'theme' : 'transparent',
			'share' : {
				'position' : 'left',
				'numPreferredServices' : 4
			},
			'follow' : {
				'services' : [{
					'service' : 'google_follow',
					'id' : '102789536357598195056'
				}, {
					'service' : 'facebook',
					'id' : 'wearelarry'
				}, {
					'service' : 'twitter',
					'id' : 'LarryFRC'
				}, {
					'service' : 'youtube',
					'id' : 'FRCLarry'
				}, {
					'service' : 'flickr',
					'id' : '../groups/2373339@N23/'
				}, {
					'service' : 'rss',
					'id' : '/feed.xml'
				}]
			},
			'thankyou' : false
		});
	</script>
	<script type="text/javascript">
		var addthis_config = {
			data_track_address_bar : false,
			data_track_clickback : false
		};
	</script>
	<!-- AddThis Smart Layers END -->
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] ||
			function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-39423470-1', 'wearelarry.net');
		ga('send', 'pageview');
	</script>
</head>