<!DOCTYPE html>
<html lang="en-CA">
	{% include header.html %}
	<body>
		<nav>
			<a href="/team/">Team</a>
			<a href="/forge/">Forge</a>
			<a href="/sponsors/">Sponsors</a>
		</nav>
		<div class="main">
			<a class="header" href="/"><img class="logo" src="/images/nav_logo_upscale.png" />
			<div class="banner">
				Silicon
				<br />
				Cl<div style="display:inline-block;position:relative;top:-.25em;">aymore
				</div>
			</div></a>
			<div class="content-margin">
				<h1>{{ page.title }}</h1>
				<p>
					{{ content }}
				</p>
			</div>
		</div>
		<!--footer>
			<h3>Follow Us on Social Media</h3>
		</footer-->
	</body>
</html>
